<section class="leaflet">
    <h1>How To Caucus</h1>
    <ul>
      <li>Anyone who is 17 or older and eligible to vote in the general election in November can go</li>
      <li>Show up at <span class="when">10am on March 26th</span> and sign in.</li>
      <li>You can register to vote at the caucus!</li>
      <li>Supporters of each candidate will discuss and persuade each other</li>
      <li>Each sides supporters will be tallied</li>
      <li>Delegates will be assigned to each candidate from tally</li>
      <li>Bernie wins when voter turnout is high. Your vote matters!</li>
    </ul>
</section>