<section class="leaflet">
    <h1>How To Caucus</h1>
    <ul>
      <li>Supporters of each candidate discuss and persuade each other</li>
      <li>Each sides supporters are counted</li>
      <li>Delegates are assigned to each candidate proportionally. It is not winner-take-all, so every vote counts!</li>
      <li>Anyone who is 17 years or older and able to vote by November can caucus, regardless of party affiliation</li>
      <li>You can register to vote at the caucus</li>
      <li>&iquest;Quieres Bernie Sanders para presidente? Caucus para &eacute;l en <span class="where-name">{{sname}}</span>, <span class="where-address">{{saddr}}</span> en Marzo 26 a 10am. Su n&uacute;mero de precinto es <span class="precinct">{{pn}}</span></li>
    </ul>
</section>