<header>
    <h1>Leaflet Creator</h1>
    <p>Creates a printable sheet of leaflets for distributing in your neighborhood to get out the vote for caucus day.</p>
    <ol>
        <li>Enter your address</li>
        <li>Submit to create your precinct specific leaflet</li>
        <li>Print from your browser, or save as a pdf to print later. Print double sided.</li>
        <li>Distribute leaflets within your precinct</li>
    </ol>
    <p>
        Warning!!! Read up on how precincts and caucuses work and their exact borders. Make sure not to distribute leaflets to the wrong people, for example telling them they live in a precinct they don't actually, or telling them to go to the wrong caucus site.
    </p>
    <p>
        Precinct information is provided by <a href="http://41dems.org/gmap/caucus.html">41st District Democrats</a>.
    </p>
    <p>
        Precincts already fliered: 129, 136, 205, 219, 225. If you would like to let us know if you've completed a precinct, email PeterAlbertSanderson@gmail.com.
    </p>
    <form method="get">
        <label for="location">Address</label>
        <input type="text" value="{{model.location}}" name="location"/>
        <span>{{model.locationMessage}}</span>
        <br/>
        
        <label for="showMap">Include Map</label>
        <input type="checkbox" name="showMap" value="true" {{#model.showMap}}checked{{/model.showMap}}/>
        <span>If no map appears there was an error creating your precinct map. Sorry!</span>
        <br/>
        
        <input type="submit" value="Submit" />
    </form>
</header>
