<section class="leaflet">
<h1>Caucus For Bernie Sanders!</h1>
<p>
  Support Bernie Sanders for President at the Washington Democratic caucus at <span class="when">10am on March 26th</span>.
  Because you live in <span class="precinct">precinct {{pn}}</span>, your caucus will be held at <span class="where-name">{{sname}}</span>, <span class="where-address">{{saddr}}</span>.
  See you there!
<figure class="map-container">
  {{>image}}
</figure>
</section>